@import "./../base/mixins";

.logo {
  &-lg {
    display: block;
  }
  &-sm {
    display: none;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  &-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
  }

  &-icons-list {
    &-lg {
      @include center();
      gap: 24px;
    }
    &-sm {
      display: none;
    }
  }
}

.header-cart {
  position: relative;
  background-color: map-get($color, primary);
}

.header-container-cart > nav > ul > li {
  color: white;
}

.user-name{
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;

  
}
.user-logout{
  position: absolute;
  top: 25px;
  right: -15px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  background-color: map-get($color, primary);
  padding: 10px 20px;
  cursor: pointer;
  display: none;

}

.user-login{
  position: relative;
  transition: all 0.8s ease-in-out;
  &:hover{
    .user-logout{
      display: block;
    }
  }
}



@media only screen and (max-width: 576px) {
  .logo {
    max-width: 20px;
    &-lg {
      display: none;
    }
    &-sm {
      display: block;
    }
  }
  .header {
    display: block;
    width: 100vw;
    height: 72px;
    background-color: map-get($color, white);

    &-icons-list {
      &-lg {
        display: none;
      }
      &-sm {
        @include center();
        gap: 24px;
      }
    }

    &-container {
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 20px 0;
      width: 327px !important;
    }
  }
}
