@import "./../base/variables";
@import "./../base/mixins";
.nav {
  @include center();
  &-list {
    @include center();
    gap: 96px;
  }

  &-item {
    font-size: map-get($color, sm-4);
    font-weight: map-get($font-weight, bold);
    color: map-get($color, primary);
  }

  &-item > a {
    display: relative;
  }
}


@media only screen and (max-width: 576px) {
  .nav {
    display: none !important;
  }
}
