/* Reset all styles to their default values */
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

image {
  display: block;
  width: 100%;
  height: auto;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}
