@import './../base/variables';
@import './../state/color';

.product {
  &-item {
    position: relative;
  }

  &-price {
    font-size: map-get($font-size, md-1);
    font-weight: map-get($font-weight, normal);

    &-old {
      text-decoration: line-through;
      color: map-get($color, red);
    }

    &-new {
      color: map-get($color, black);
    }
  }

  &-name {
    font-size: map-get($font-size, sm-3);
    font-weight: map-get($font-weight, light);
  }

  &-link {
    display: flex;
    flex-direction: column;
  }

  &-discount {
    top: 5%;
    left: 10%;
    z-index: 10;
  }

  &-sm-title {
    text-align: center;
  }

  &-image-wrapper:hover > button {
    display: block;
  }

  &-image-wrapper {
    z-index: 9;
    transition: all 0.3s ease-in-out;
  }
  &-img {
    z-index: 9;
    transition: all 0.3s ease-in-out;
  }
}
.product-image-wrapper:hover > img {
  scale: 1.025;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-add-to-cart {
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: map-get($color, primary);
  border-radius: 32px;
  border: 1px solid map-get($color, primary);
  color: map-get($color, black);
  font-weight: 700;
  padding: 10px 25px;
  display: none;

  &:hover {
    border: 1px solid map-get($color, primary);
    background-color: map-get($color, white);
    color: map-get($color, primary);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &:disabled{
    background-color: map-get($color, gray-2);
    border-radius: 32px;
    border: 1px solid map-get($color, gray-2);
    color: map-get($color, white);
    font-weight: 700;
    padding: 10px 25px;
    display: none;
  }
}


.cart-btn-disabled {
  background-color: map-get($color, red);
  border-radius: 32px;
  border: 1px solid map-get($color, red);
  color: map-get($color, white);
  font-weight: 700;
  padding: 10px 25px;
  display: none;

  &:hover {
    border: 1px solid map-get($color, red);
    background-color: map-get($color, white);
    color: map-get($color, red);
  }
}

// .product-skeleton{
//   display: flex;
//   justify-content: space-between;
//   gap:10px;
//   flex-wrap: wrap;
//   margin: 0 auto;

//   &-item {
//     width: 23.33333%;
//     background-color: #eaeaea;
//   }

// }

@media only screen and (max-width: 768px) {
  .product {
    &-img {
      width: 100%;
    }

    &-name {
      font-size: map-get($font-size, sm-1);
    }

    &-price {
      font-size: map-get($font-size, x-sm-1);
    }

    &-discount {
      top: 7%;
      left: 9%;
    }

    &-sm-title {
      text-align: left;
    }
  }
}
