.cart-table {
  width: 100%;
  border-collapse: collapse;

  .cart-table-header > th {
    color: map-get($color, white );
  }

  & > thead {
    background-color: map-get($color, primary);

    height: 30px;
  }

  .cart-product-row {
    border-bottom: 1px solid map-get($color, primary);
    text-align: center;
    & > td {
      padding: 10px 20px;
    }

    & > td > button {
      padding: 5px 10px;
      border: 1px solid map-get($color, primary);
      border-radius: 5px;
      background-color: map-get($color, primary);
      color: map-get($color, white);
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: map-get($color, white);
        color: map-get($color, primary);
      }
    }
  }
  & > td {
    text-align: center;
  }
  &-img {
    width: 75px;
    height: 100px;
  }

  &-quantity-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

    & > p {
      margin: 0 10px;
    }

    & > button {
      padding: 2px 6px !important;
    }
  }
}

.total-group{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;

  & > h3 {
    padding: 0 10px;
    color: map-get($color, primary);
  }

  & > p {
    padding: 0 10px;
  }
}